/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #000; /* Default foreground color */
  --background-light: #808080; /* Default light mode background color */
  --background-dark: #d6dbdc; /* Default dark mode background color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #fff; /* White foreground in dark mode */
    --background-light: #fff; /* Light mode background in dark mode (optional) */
    --background-dark: #808080; /* Dark mode background color */
  }
}

body {
  color: #000; /* Default text color */
  background-color: #efe4bf; /* Grey background color */
}

.dark-mode {
  background-color: var(--background-dark); /* Dark mode background */
}
